<div class="alignleft">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="https://www.buqento.com" target="_blank">Buqento Richard</a>
    </div>
  </div>
</div>
<div class="clearfix"></div>